@import "bootstrap";
@import "common";
@import "direct_uploads";

.answers-container {
  background: lightgoldenrodyellow;
  margin-left: 40px;
  padding: 10px;
}
.line {
  border-top: orange;
  border-style: dashed;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: red
}
.badge {
  color: black;
}
.like {
  width: 25px;
}
.like-green {
  background: greenyellow;
}
.unlike {
  width: 25px;
  transform: rotate(180deg)
}
