nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example"
  .container-fluid
    a class="navbar-brand" href="#" Stackoverflow
    button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation"
      span class="navbar-toggler-icon"
    .navbar-collapse class="collapse" id="navbarsExample03" style=""
      ul class="navbar-nav me-auto mb-2 mb-sm-0"
        li class="nav-item"
          a class="nav-link active" aria-current="page" href="/questions" Questions
        li class="nav-item"
          a class="nav-link" href="#" Link
        li class="nav-item"
          a class="nav-link disabled" Disabled
        li class="nav-item dropdown"
          a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" Dropdown
          ul class="dropdown-menu" aria-labelledby="dropdown03"
            li
              a class="dropdown-item" href="#" Action
            li
              a class="dropdown-item" href="#" Another action
            li
              a class="dropdown-item" href="#" Something else here
      form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
        input type="search" class="form-control" placeholder="Search..." aria-label="Search"
      div class="dropdown text-end"
        - if current_user
          a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"
            img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32"
          ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style=""
            = link_to 'Badges', badges_path, class: "dropdown-item"
            li
              a class="dropdown-item" href="#" New project...
            li
              hr class="dropdown-divider"
            li
              = button_to "Sign out", destroy_user_session_path, method: "delete"  
        - else
          = link_to 'Sign in', new_user_session_path
          = link_to 'Sign Up', new_user_registration_path
